@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  box-sizing: border-box;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #000000;
  background-image: linear-gradient(135deg, #000000 0%, #04619f 74%);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: auto;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


h1, h2, h3, h4, h5, h6 {
  color: #e6e6e6;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
}

p, li {
  color: #e6e6e6;
  font-size: .9rem;
  font-weight: 400;
  font-family: 'Source Code Pro', monospace;
}

a {
  font-size: .9rem;
  color: #49a3f7;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 16px;
  color: #e6e6e6;
  background: linear-gradient(135deg, #111 0%, #000 100%);
  font-family: 'Source Code Pro', monospace;
  font-size: .9rem;
  border: none;
  border-radius: 10px;
  width: -moz-max-content;
  width: max-content;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #0084ff;
  }
}

hr {
  border: none;
  text-align: center;
  margin-top: -20px;
  margin-bottom: -20px;
  color: #0084ff;
  max-width: 100%;
}
hr:after {
  display: inline-block;
  content: '∿∿∿∿∿∿∿∿';
  letter-spacing: -9.6px;
  font-size: 60px;
}


ul {
  list-style-type: none;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

label {
  display: flex;
  align-items: flex-start;
  font-family: 'Source Code Pro', monospace;
  color: #e6e6e6;
  min-width: 100px;
}

input, textarea {
  padding: 14px;
  border-radius: 5px;
  border: none;
  width: 100%;
  font-size: .9rem;
  background-color: #e6e6e699;
  color: #000;
  font-family: 'Source Code Pro', monospace;
  transition: background-color 0.3s, color 0.3s;

  &:focus {
    outline: none;
    background-color: #e6e6e6;
    color: #000000;
  }
}

.alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  margin: 10px;
  width: calc(100% - 20px);
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  padding: 20px;
  font-family: 'Source Code Pro', monospace;
  background-color: #e6e6e6;
  border-radius: 5px;
  box-shadow: 1px 1px 8px #00000099;
  z-index: 20;

  > p {
    color: #000;
  }

  > button {
    font-size: 1.2rem;
    padding: 5px 7px;
    border-radius: 25px;
    background-color: #000000;

    :first-child {
      color: #e6e6e6;
    }

    &:hover {
      background-color: #0084ff;
    }
  }
}

.alert-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/* FLEX MANAGEMENT */

.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row img, .column img {
  width: 200px;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px;
}


/* PAGE STYLES */

header {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 100px 10px 20px 10px;
  margin-bottom: 20px;
  color: #e6e6e6;
}

.header-links {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 15px;

  a {
    color: #e6e6e6;
    font-size: 1.5rem;
    transition: color 0.3s;

    &:hover {
      color: #0084ff;
    }
  }
}

.head-logo {
  width: 250px;
  height: auto;
  object-fit: contain;
}

.content-navigation {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 10px;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;

  a {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 5px;
    color: #e6e6e6;
    background: linear-gradient(135deg, #111 0%, #000 100%);
    font-size: 1.1rem;
    border-radius: 10px;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

    :first-child {
      padding: 15px 20px;
      color: #0084ff;
      transition: color 0.3s;
    }

    :last-child {
      padding: 0 15px 0 0;
      width: 100%;
      transition: margin-left 0.3s;
    }

    &:hover {
      background-color: #0084ff;

      :first-child {
        color: #e6e6e6;
      }

      :last-child {
        margin-left: 10px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  padding: 30px 10px 50px 10px;
  max-width: 1280px;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
}

.duo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.small-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  background-color: #11111199;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #00000099;
  transition: box-shadow 0.3s;

  a {
    color: #0084ff;
    margin-top: auto;
    transition: color 0.3s;

    &:hover {
      color: #e5e5e5;
    }
  }

  img {
    width: 100px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
}

.small-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 10px;
  background-color: #11111199;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #00000099;
  transition: box-shadow 0.3s;

  img {
    width: 50px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
    align-self: center;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  color: #e6e6e6;
}

